*{
    box-sizing:border-box;
}
.border{
    border:1px solid crimson;
}
h1,h2{
    text-align:center;
    padding: 10px;
}
.column{
    float:left;
    height: 500px;
    width: 33.33%;
    padding: 10px;
}
.flip-card{
    height: 100%;
    background-color: transparent;
    perspective: 1000px;
    border-radius: 25px;
}
.flip-card-inner{
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back{
    position:absolute;
    size-adjust: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front{
    height: 100%;
    width: 100%;
    background-color: coral;
    color:blueviolet;
    backface-visibility: visible;
}
.flip-card-back{
    background-color: goldenrod;
    color: purple;
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.flip-card-back div{
    border: 1px solid crimson;
}
.flip-card-back .top-back{
    flex: 0 30%;
    display: flex;
}
.flip-card-back .top-back .top-back-img{
    flex: 0 30%;
}
.flip-card-back .top-back .top-back-img-notLuffy{
    flex: 0 30%;
    height: 150px;
}
.flip-card-back .top-back .top-back-aside{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.flip-card-back .top-back .top-back-aside div{
    flex: 1;
}
.flip-card-back .bottom-back{
    flex: 1;
}
aside{
    width: 75%;
    float: right;
    clear: right;
}
img{
    height: 100%;
    float: left;
    size: cover;
    border-radius: 25px;
}
