*{
    box-sizing:border-box;
}
.border{
    border:1px solid skyblue;
}
h1,h2{
    text-align:center;
    padding: 10px;
}
.column{
    float:left;
    height: 500px;
    width: 33.33%;
    padding: 10px;
}
.flip-card{
    background-color: transparent;
    perspective: 1000px;
}
.flip-card-inner{
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back{
    position:absolute;
    size-adjust: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front{
    background-color:coral;
    color:blueviolet
}
.flip-card-back{
    background-color: darkred;
    color: white;
    transform: rotateY(180deg)
}